<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><style>
    h1{color:violet;font-family:verdana;text-align:center}
    body{background-color:powderblue}
</style>
<body>
<h1>Student Information</h1><hr>
{% if std %}
    <table>
        <thead>
        <th>Roll No</th>
        <th>Name</th>
        <th>stnadard</th>
        <th>Birth</th>
        </thead>
        {% for s in std%}
        <tr>
            <td>{{s.rollno}}</td>
            <td>{{s.name}}</td>
            <td>{{s.stand}}</td>
            <td>{{s.dob}}</td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <p>No Records Found!!</p>
    {%endif%}
<hr>
</body>
</html>