{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Made Three</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'homepage/images/favicon.ico' %}">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


        <link rel="stylesheet" href="{% static 'homepage/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/iconfont.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/assets/css/bootsnav.css' %}">



        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'homepage/assets/css/plugins.css' %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'homepage/assets/css/style.css' %}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'homepage/assets/css/responsive.css' %}" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse" data-offset="100">





        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed no-background white">

                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container"> 
                    <div class="attr-nav">
                        <a href="account/register" class="btn btn-success" role="button">Signup</a>


                    </div> 

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">
                            <img src="assets/images/logo.png" class="logo" alt="">
                            <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">

                    </div><!-- /.navbar-collapse -->
                </div>

</ul>
            </nav>

            <!--Home Sections-->

            <section id="home" class="home bg-black fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="col-md-12">
                                <div class="hello">
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h1 class="text-yellow">Welcome to Networking</h1>
                                            <h3 class="text-white text-uppercase">"Computer Network Concept"</h3>
                                        </div>
                                    </div><!-- End off slid item -->

                                </div>
                            </div>

                        </div>




                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->



            <!--About Section-->











            <!--Portfolio Section-->





        </div>

        <!-- JS includes -->




    </body>

</html>
